<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wisely_diary"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Optional: Add this permission if you want to use bluetooth telephony device like headset/earbuds -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Optional: Add this permission if you want to save your recordings in public folders -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 부팅 완료 후 실행 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 진동 사용 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Wake Lock 사용 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- FCM 권한 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
            android:label="wisely_diary"
            android:icon="@mipmap/ic_launcher"
            android:name="${applicationName}">

        <!-- FCM 기본 채널 설정 -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="high_importance_channel" />

        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity
                android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
                android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao2eb8687682cf67f94363bcca7b3125a4" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- MainActivity 설정 -->
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">
                android:taskAffinity=""
            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- FCM 서비스 -->
        <service
                android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- FCM 인스턴스 ID 서비스 -->
        <service
                android:name="com.google.firebase.messaging.FirebaseMessagingService"
                android:exported="true"
                tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- AlarmManager 서비스 -->
        <service
                android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false"/>

        <!-- AlarmManager 브로드캐스트 리시버 -->
        <receiver
                android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"
                android:exported="false"/>

        <!-- 재부팅 시 알람 복원을 위한 리시버 -->
        <receiver
                android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"
                android:enabled="false"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 플러그인 자동 생성 -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>